<div class="overflow-x-auto overflow-y-auto pb-6">
  <table *ngIf="keys != undefined" class="table">
    <!-- head -->
    <thead>
      <tr>
        <th class="first:w-16" *ngFor="let header of keys; let i = index">
          {{ keys[i].toString() | titleTransform }}
        </th>
        <th *ngIf="hasDetailView" class="w-24"></th>
        <th class="w-16"></th>
        <th class="w-16"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of tableData" class="hover">
        <td *ngFor="let col of keys; let i = index">
          <!-- If first row (id), then show a <pre> tag instead and slice the string to a 3 Digit Id -->
          <pre *ngIf="i == 0" [title]="row[col]">{{
            row[col] | uppercase | slice : 0 : 3
          }}</pre>

          <ng-container *ngIf="i != 0">{{ row[col] }}</ng-container>
        </td>

        <td *ngIf="hasDetailView">
          <button
            class="btn-ghost btn-xs btn"
            [routerLink]="['../details', row.id]"
          >
            {{ detailViewText }}
          </button>
        </td>

        <td>
          <div class="tooltip tooltip-bottom" data-tip="Update">
            <button class="btn-ghost btn-square btn-sm btn">
              <span class="material-symbols-outlined"> edit </span>
            </button>
          </div>
        </td>

        <td>
          <div class="tooltip tooltip-bottom" data-tip="Delete">
            <button
              (click)="openModal(row.id)"
              class="btn-ghost btn-square btn-sm btn"
            >
              <span class="material-symbols-outlined swap-off"> delete </span>
            </button>
          </div>
        </td>
      </tr>
      <dialog id="table_modal" class="modal">
        <form method="dialog" class="modal-box">
          <h2 class="text-2xl font-bold">Are you sure you want to delete?</h2>
          <p class="py-4">This action cannot be undone</p>
          <div class="modal-action">
            <button (click)="this.selectedId = undefined" class="btn">
              Cancel
            </button>
            <button (click)="delete()" class="btn-primary btn">Confirm</button>
          </div>
        </form>
      </dialog>
    </tbody>
  </table>
</div>
