<div class="grid h-[112px] place-items-center py-8">
  <h1 class="text-3xl font-bold text-primary-content">Baukosten</h1>
</div>
<div class="divider m-0"></div>
<nav class="w-full pt-8">
  <ul class="flex flex-col gap-4">
    <li *ngFor="let item of navItems">
      <a
        routerLink=""
        class="flex cursor-pointer items-center rounded-xl px-4 py-3 transition-colors hover:bg-primary hover:text-primary-content"
      >
        <span class="material-symbols-outlined mr-4">{{ item.iconName }}</span
        >{{ item.name | titlecase }}
      </a>
    </li>
  </ul>
</nav>
